.Footer{
    background-color: #292929;
    height: 50px;
    display: flex;
    align-items: center;
    color: white;
    justify-content: center;
    font-weight: normal;
    bottom: 0;
    width: 100%;
}